@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@900&display=swap');
body{
  background-color: #E4EFE7;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #EEEEEE;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: #EEEEEE;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 10px 30px;
  font-size: 29px;
  background: #393E46;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
.navbar{
  width: 100%;
  height: 64px;
  background-color:none;
}
@media(max-width : 860px){
  label #btn{
    margin: 10px 0 0 10px;
    height: 40px;
    width: 40px;
  }
  label #cancel{
    position: absolute;
    left: -60px;
    z-index: 1;
    background: #1B1B1B;
    border: none;
  }
  .yaseen{
    width:100%;
  }
 
}
